@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1576571521076'); /* IE9 */
  src: url('iconfont.eot?t=1576571521076#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKQAAsAAAAABjgAAAJDAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEXQE2AiQDCAsGAAQgBYRtBy4bgQXILjGFawdSpGWcMYSLAaf3gQF4iIfv92vnvv8WcY90z6KJyJAogY2IVULbITKd0hkqXsLfWNO0HRuV8wVSVSNSaB+Tf85fPiPHwpGRU6IgzEC45QTPUGd47NXLsYe47NlS64wRki8+ce/0T6AP0npAOe5FawzqAuriQAp0D4y6SEoo44axC17gfQJNxrQ1tvdPL2BNZi8LxEUSebBW8MsySzUIdQ17s3hU0ZCu0gx4iL4f/4axRlIp2BV753shbH7hZBQP5YPTgBAgoMMVFFgBMnHUGN/REoxraYovmQLHKg2+KMvAJo5qFuyvs4tbwAiUPJPUWypAgseaqBPon/ReorPPm9plT/h23ccf1ZebXhqfnU17np7v24/Mqs3MbMEm+FnxlBxoIPjsxXVDcwbvvlYjUzbMCRp24Qh+hXRgXzbktjVlTdo4nHSeoqVJE0rY3eVvqqH3vOnQoHeCs95ohkKDGTKzK6hotoo6DdbQZNnB4WbdVEvkRix5BQgdvpC0eUOhw5zM7C8q+vyjTke00OQknNlsLpKNlTyjEP17TAIp2bXbRlx6RtF17mleHvGuSOskhINuv5w6oJJ0iQ31TTQ0Y2SVAvfBY5TngpVKSoF1Y7Nq0utx04u6gRSwYYsiHkNCyHcPJQKixMFos1H5/BkSuZbzaEdPXfwKUbVkejTQ1R9AHmjKQT2P8kztRmTIGIaYEgW0D2aRXE6gqnlWigRMVzwhWpnoOYN4qKa7va74u2PQxDamcGoL+UxuSwAAAAA=') format('woff2'),
  url('iconfont.woff?t=1576571521076') format('woff'),
  url('iconfont.ttf?t=1576571521076') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1576571521076#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e619";
}

